/*TODO: Change banner image: girls' avatar and 'ELSANNA' text.*/

.slick-slider > button {
  display: none !important;
}

.slick-dots li button {
  width: 10px;
}

.slick-dots button {
  width: 10px !important;
}

.widget_meta ul > li:nth-child(3),
.widget_meta ul > li:nth-child(4),
.widget_meta ul > li:nth-child(5) {
  display: none;
}

@media screen and (min-width: 800px) {
  .slick-dots button {
    margin: 0 3px;
  }
}

@media screen and (max-width: 800px) {

  body.home {
    background-color: #ffffff;
  }

  /*
    section.container .speedbar {
      display: block!important;
    } */
  /* 	section.container .speedbar .pull-right {
      display: none !important;
    } */
  .screen-mini button {
    left: auto !important;
    right: 0 !important;
    color: #A7A7A7 !important;
    border: none !important;
  }

  #header {
    background: white !important;
  }

  #nav-header {
    border-bottom: unset !important;
  }

  #nav-header ul {
    position: absolute !important;
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  #nav-header ul:not(.active) {
    display: block;
  }

  #nav-header a {
    font-weight: normal;
    font-size: 14px;
  }

  .navbar .nav li:hover a,
  .navbar .nav li.current-menu-item a,
  .navbar .nav li.current-menu-parent a,
  .navbar .nav li.current_page_item a,
  .navbar .nav li.current-post-ancestor a {
    background: none !important;
    color: #0084ff;
  }

  .container-inner {
    width: 40%;
    float: left;
  }

  .g-logo h1 {
    padding: 0;
  }

  h1.h1logo {
    margin: 5px 0;
  }

  .slick-slider {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .hot-posts h2 {
    margin: 0 20px !important;
    width: 90%;
    font-size: 18px;
    color: #000000;
    border-bottom: none;
  }

  .hot-posts li > a {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 48%;
    display: inline-block;
  }

  #excerpt-title {
    margin: 0 20px !important;
    width: 90%;
    font-size: 18px;
    color: #000000;
    line-height: 45px;
  }

  article.excerpt {
    width: 90%;
    margin: 5px 5%;
    border-bottom: 1px solid #eeeeee;
    padding: 5px 0;
    min-height: 70px
  }

  .thumb {
    border-radius: 5px;
  }

  .excerpt h2 > a {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }

  .excerpt .focus {
    position: absolute;
    top: 50%;
    margin-top: -35px;
  }

  .excerpt .note {
    margin-left: 110px;
    color: #000000;
  }

  .excerpt .note div {
    display: none;
    /* 		font-size: 12px;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box!important;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        word-break:break-all; */
  }

  .pageheader.clearfix {
    padding: 0;
    height: 30px;
  }

  h1.pull-left {
    margin: 0;
    height: 24px;
  }

  div.pull-right {
    width: 25%;
    margin-right: 5%;
    height: 24px;
  }

  div.pull-right > span.bdsharebuttonbox {
    height: 24px;
  }

  .pageheader .pull-right span {
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

}

/*search和info 不可加*/
/*字体 不可加*/
/*自动加载取代翻页 不可改*/
/*COPYRIGTH中HTML有文本"|" 不可改*/